* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-color-primary: #a4244a;
  --card-title-border-color: #68213b;
  --card-bg-color: #1d1c19;
  --card-date-color: #b62258;
  --bg: url(./assets/bgred.svg);
}

body.blue {
  --card-color-primary: #338af3;
  --card-title-border-color: #1a45d1;
  --card-bg-color: #202024;
  --card-date-color: #338af3;
  --bg: url(./assets/bgblue.svg);
}
body.green {
  --card-color-primary: #047c3f;
  --card-title-border-color: #105614;
  --card-bg-color: #1a1f1b;
  --card-date-color: #cdf743;
  --bg: url(./assets/bggreen.svg);
}
body.yellow {
  --card-color-primary: #f7dd43;
  --card-title-border-color: #746615;
  --card-bg-color: #1d1c19;
  --card-date-color: #f7dd43;
  --bg: url(./assets/bgyellow.svg);
}

ul {
  list-style: none;
}
body {
  
background: #121214 var(--bg)  repeat top center/contain
}

body * {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
}

#app {
  width: fit-content;
  margin:auto;
  max-width: 2000px;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

header img {
  width: 400px;
}

#cards {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.card {
  padding: 40px 40px;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;

  margin-bottom: 15px;
  justify-content: space-between;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 2px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 40px;
  color: var(--card-date-color);
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 450px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 500;
  font-size: 25px;
  line-height: 125%;
  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.2,1.2);
}

.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card{
  opacity: 0;
  animation: appear .2s forwards;
}

@keyframes appear{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{ 
    opacity: 1;}
}

@media(min-width: 400px){
  #cards {
  max-width: 2000px;
  flex-direction: row;
  flex-wrap: wrap;
}}